*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    header{
        
        .nav{
            background-color: #8b45139d;
            height: 70px;
            position: fixed;
            top: 0;
            z-index: 5;
            width: 100vw;
            padding: 24px 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-ul{
                ul{
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    gap: 40px;
                    color: aliceblue;
                    #li-themes{
                        display: flex;
                        align-items: center;
                        img{
                            display: none;
                        }
                        &:hover{
                            background-color:rgba(115, 51, 28, 0.45);
                            border-radius: 6px;
                            padding: 10px ;
                            img{
                                margin: 5px;
                                display: block;
                                
                                
                            }
                        }
                        a{
                            color:rgb(14, 5, 3);
                            text-decoration: none;
                            
                        }
                    }
                }
            }
            .lastInNav{
                display: flex;
                gap: 5px;
                .child{
                display: flex;
                input{
                    border: 1px solid oklch(81.558% 0.0356 17.764);
                }
                a{
                    border: 1px solid oklch(81.558% 0.0356 17.764);
                    background-color: rgb(161, 144, 122);
                }}
                .cart{
                    display: flex;
                    .login-icon{
                        &:hover{
                            background-color: rgba(80, 77, 77, 0.678);
                            border-radius: 30%;
                            padding: 3px;
                    }}
                    .cart-icon{
                        &:hover{
                            background-color: rgba(80, 77, 77, 0.678);
                            border-radius: 30%;
                            padding: 3px;
                    }

                    }

                }
            }
            .parse{
                display: none;
            }
        }
        .hero{
            background-image: url(../img/bac1.png);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; 
            width: 100%;
            padding-top: 232px;
            padding-left: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .h1-hero{
                color: aliceblue;
                max-width: 570px;
                font-weight: 700;
                font-size: 900;
                font-size:30px;
            }
            .scroll-now{
                display: flex;
                align-items: center;
                margin: 0 auto;
                gap: 5px;
                color: antiquewhite;
            }
            
        }
        
    }
    main{
        .formal-casual{
            margin-top: 20px ;
            display: flex;
            flex-direction: row;
            gap: 10px ;
            .formal{
                width: 50%;
                .img1{
                    margin: 5px ;
                    background-image: url(../img/formal\ women.png);
                    background-size: cover; 
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 50vh;
                    display: flex;
                    justify-content: space-around;
                    align-items: center; 
                    border-radius: 10px;
                    
                    a{
                        color: aliceblue;
                        max-width: 570px;
                        font-weight: 700;
                        font-size:50px;
                        text-decoration: none;
                        &:hover{
                            color: burlywood;
                        }
                    }
                    }
                .img2{
                    margin: 5px ;
                    background-image: url(../img/formal\ man.png);
                    background-size: cover; 
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 50vh; 
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 10px;
                    
                    a{
                        color: aliceblue;
                        max-width: 570px;
                        font-weight: 700;
                        
                        font-size:50px;
                        text-decoration: none;
                        &:hover{
                            color: burlywood;
                        }
                        
                    }
                        }
            }
            .casual{
                    margin: 5px ;
                    background-image: url(../img/casual.png);
                    background-size: cover; 
                    background-position: center;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 50%;
                    height: 100vh;
                    border-radius: 10px;
                    
                    a{
                        color: aliceblue;
                        max-width: 570px;
                        font-weight: 700;
                        font-size:50px;
                        text-decoration: none;
                        &:hover{
                            color: burlywood;
                        }
                        
                    }
                    

            }
        }
        .the_best_dress_for_the_best_woman{
            margin-top: 44px;
            h1{
                color: 3E3E3E;
                max-width: 870px;
                font-weight: 700;
                font-size:50px;
                padding-left: 70px;
                font-family:"Playfair Display", serif;
            }
            .products{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 70px;
                overflow-x: auto;
                margin-top: 40px ;
                gap:20px ;
                .item{
                    /* max-width:300px ; */
                    width:30%;
                    flex-shrink:0;
                    
                    img{
                        margin-top: 10px ;
                        width: 100%;
                        border-radius: 10px;
                    }
                    .prise{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        img{
                            
                            width: 20px;
                            height: 20px;
                            
                        }
                    }
                }
            }
            .see-more{
                margin-left: 70px;
                margin-top: 32px;
                padding:7px;
                background-color: #8B4513;
                color: aliceblue;
            }
            .see-less{
                margin-left: 70px;
                margin-top: 32px;
                padding:7px;
                background-color: #8B4513;
                color: aliceblue;
                display: none;
            }
        }
        .the_best_dress_for_the_best_men{
            margin-top: 44px;
            h1{
                color: 3E3E3E;
                max-width: 870px;
                font-weight: 700;
                font-size:50px;
                padding-left: 70px;
                font-family:"Playfair Display", serif;
            }
            .products{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 70px;
                flex-wrap: wrap;
                margin-top: 40px ;
                .item{
                    max-width:300px ;
                    
                    img{
                        margin-top: 10px ;
                        width: 100%;
                        border-radius: 10px;
                    }
                    .prise{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        img{
                            
                            width: 20px;
                            height: 20px;
                            
                        }
                    }
                }
            }
            .see-more{
                margin-left: 70px;
                margin-top: 32px;
                padding:7px;
                background-color: #8B4513;
                color: aliceblue;
            }
            .see-less{
                margin-left: 70px;
                margin-top: 32px;
                padding:7px;
                background-color: #8B4513;
                color: aliceblue;
                display: none;
            }
        }
        .info-section{
            margin-top: 64px;
            display: flex;
            padding-left: 70px ;
            flex-direction: row;
            gap: 32px ;
            .like{
                padding: 20px ;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:25px;
                max-width: 347px ;
                border: 20px solid #3e3e3e2f;
                .like-icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px ;
                    border-radius: 100%;
                    background-color: #8B4513;
                }
            }

        }
    }
    
}

@media screen and (max-width: 992px){
    body{
        header{
            .nav{
                padding: 30px 20px;
                .nav-ul{
                    display: none;
                }
                .lastInNav{
                    display: none;
                }
                .parse{
                    display: block;
                }
            }
            .hero{
                padding-left: 20px;

            }
        }
        main{
            .formal-casual{
                flex-direction: column;
                align-items:center;
                .casual{
                    height: 50vh;
                }
                
            }
            .the_best_dress_for_the_best_woman{
                h1{
                    padding-left: 20px;
                }
                .products{
                    padding-left: 20px ;
                }
            }
            .info-section{
                padding-left: 20px ;
                flex-direction: column;

            }
        }
    }

}
