*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    header{
        
        .nav{
            height: 90px;
            position: fixed;
            top: 0;
            z-index: 5;
            width: 100vw;
            padding: 24px 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-ul{
                ul{
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    gap: 40px;
                    color: aliceblue;
                    #li-themes{
                        display: flex;
                        align-items: center;
                        img{
                            display: none;
                        }
                        &:hover{
                            background-color:rgba(115, 51, 28, 0.45);
                            border-radius: 6px;
                            padding: 10px ;
                            img{
                                margin: 5px;
                                display: block;
                                
                                
                            }
                        }
                        a{
                            color:rgb(14, 5, 3);
                            text-decoration: none;
                            
                        }
                    }
                }
            }
            .lastInNav{
                display: flex;
                gap: 5px;
                .child{
                display: flex;
                input{
                    border: 1px solid oklch(81.558% 0.0356 17.764);
                }
                a{
                    border: 1px solid oklch(81.558% 0.0356 17.764);
                    background-color: rgb(161, 144, 122);
                }}
                .cart{
                    display: flex;
                    .login-icon{
                        &:hover{
                            background-color: rgba(80, 77, 77, 0.678);
                            border-radius: 30%;
                            padding: 3px;
                    }}
                    .cart-icon{
                        &:hover{
                            background-color: rgba(80, 77, 77, 0.678);
                            border-radius: 30%;
                            padding: 3px;
                    }

                    }

                }
            }
            .parse{
                display: none;
            }
        }
        .hero{
            background-image: url(../img/bac1.png);
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; 
            width: 100%;
            padding-top: 232px;
            padding-left: 70px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .h1-hero{
                color: aliceblue;
                max-width: 570px;
                font-weight: 700;
                font-size: 900;
                font-size:30px;
            }
            .scroll-now{
                display: flex;
                align-items: center;
                margin: 0 auto;
                gap: 5px;
                color: antiquewhite;
            }
            
        }
        
    }
    main{
        .formal-casual{
            margin-top: 20px ;
            display: flex;
            flex-direction: row;
            gap: 10px ;
            .formal{
                width: 50%;
                .img1{
                    margin: 5px ;
                    background-image: url(../img/formal\ women.png);
                    background-size: cover; 
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 50vh;
                    display: flex;
                    justify-content: space-around;
                    align-items: center; 
                    border-radius: 20%;
                    a{
                        color: aliceblue;
                        max-width: 570px;
                        font-weight: 700;
                        font-size: 900;
                        font-size:30px;
                        text-decoration: none;
                        &:hover{
                            color: burlywood;
                        }
                    }
                    }
                .img2{
                    margin: 5px ;
                    background-image: url(../img/formal\ man.png);
                    background-size: cover; 
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 50vh; 
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 20%;
                    a{
                        color: aliceblue;
                        max-width: 570px;
                        font-weight: 700;
                        font-size: 900;
                        font-size:30px;
                        text-decoration: none;
                        &:hover{
                            color: burlywood;
                        }
                        
                    }
                        }
            }
            .casual{
                    margin: 5px ;
                    background-image: url(../img/casual.png);
                    background-size: cover; 
                    background-position: center;
                    background-repeat: no-repeat;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 50%;
                    height: 100vh;
                    border-radius: 20%;
                    a{
                        color: aliceblue;
                        max-width: 570px;
                        font-weight: 700;
                        font-size: 900;
                        font-size:30px;
                        text-decoration: none;
                        &:hover{
                            color: burlywood;
                        }
                        
                    }
                    

            }
        }
    }
    
}
@media screen and (max-width: 992px){
    body{
        header{
            .nav{
                padding: 30px 20px;
                .nav-ul{
                    display: none;
                }
                .lastInNav{
                    display: none;
                }
                .parse{
                    display: block;
                }
            }
            .hero{
                padding-left: 20px;

            }
        }
        main{
            .formal-casual{
                flex-direction: column;
                align-items:center;
                .casual{
                    height: 50vh;
                }
                
            }
        }
    }

}
